<div class="row">
<form #f="ngForm" (ngSubmit)="submit(f)" class="col-md-6 offset-md-3" >
    <div class="form-row">
      <div class="form-group col-md-4">
        <input  type="text"
                class="form-control" 
                ngModel
                name="zipcode"
                #zipcode="ngModel"
                placeholder="Zipcode"
                minlength="5"
                maxlength="6"
                pattern="[0-9]{5}"
                tabindex="1"
                required>
      </div>
      <div class="form-group col-md-4">
          <select name="searchType" ngModel #searchType="ngModel" class="form-control" tabindex="2" required>
            <option value="">Search Type</option>
            <option value="animal">Animal Search</option>
            <option value="facility">Facility Search</option>
          </select>
      </div>
      <div class="form-group col-md-2">
        <select name ="radius" ngModel #radius="ngModel" class="form-control" tabindex="3" required>
          <option value="">Raidus</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
          <option value="25">25</option>
          <option value="30">30</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <button type="submit" class="btn btn-primary form-control" [disabled]="!f.valid" tabindex="4">Search</button>        
      </div>
    </div>
    <div class="alert alert-danger" *ngIf="(zipcode.touched && !zipcode.valid) || (searchType.touched && !searchType.valid) || (radius.touched && !radius.valid)">
        <div *ngIf="(zipcode.touched && !zipcode.valid)">
          <div *ngIf="zipcode.errors.required">Zipcode is required.</div>
          <div *ngIf="zipcode.errors.pattern">Must be a valid zipcode.</div>
        </div>
        <div *ngIf="(searchType.touched && !searchType.valid)">
          <div *ngIf="searchType.errors.required">Select search type.</div>
        </div>
        <div *ngIf="(radius.touched && !radius.valid)">
          <div *ngIf="radius.errors.required">Raidus is required.</div>
        </div>
    </div>
  </form>
  </div>

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div *ngIf="(posts != null)">
          <table class="table">
            <thead>
                <tr>
                  <th class="table-info">Image</th>
                  <th class="table-info">Info</th>
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let post of posts">
                <td style="text-align: center;"><img src="{{ post.animalThumbnailUrl }}" class="img-thumbnail img-responsive"></td>
                <td>
                  <p>
                    <strong>ID:</strong> {{ post.animalID }} &nbsp; <strong>Species:</strong> {{ post.animalSpecies}} <br>
                    <strong>Name:</strong> {{ post.animalName }} <br>
                    <strong>Breed:</strong> {{ post.animalBreed }} <br>
                  </p>
                
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
  