/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
/* @import "~lightbox2/dist/css/lightbox.min.css";
@import "~lightbox2/dist/js/lightbox.js"; */

body {
    /* The image used */
    background-image: url("assets/img/wallpaper.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    overflow-x: hidden;

}

.table {
    background-color: aliceblue;
}

.form-control.ng-touched.ng-invalid {
    border: 2px solid red;
}

.search-bar {
    background-color: rgb(21, 133, 185);
    padding: 15px;
}

.title-div > h1 {
    color: #fff;
}